.form-input {
    width: 90px;
    display: inline-block;
    text-align: right;
}

#code {
    width: 200px;
    height: 200px;
    margin-left: 20px;
}

.form-button {
    margin-left: 80px;
}

.warning {
    color: red;
}

.title {
    margin-left: 50px;
}