table {
    border-collapse: collapse;
    width: 380px;
}

td {
    border: 1px solid black;
    height: 30px;
    text-align: center;
}

.form-input {
    width: 90px;
    display: inline-block;
    text-align: right;
}

#code {
    width: 200px;
    height: 200px;
    margin-left: 20px;
}

.form-button {
    margin-left: 90px;
}

.warning {
    color: red;
    margin-left: 90px;
}

.title-warning {
    color: red;
    margin-left: 50px;
}

.title {
    margin-left: 50px;
}

.bold-cell {
    font-weight: bold;
}