<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzu.system.mapper.CovidTestAuthorizationMapper">

    <select id="selectAuthorizationsByAgencyUsername" resultType="CovidTestAuthorization">

        select *
        from covid_test_authorization
        where agency_username = #{agencyUsername};

    </select>
    <insert id="insert">
        insert into covid_test_authorization
        values (#{peopleUsername},#{agencyUsername},#{authorizationTime});

    </insert>

    <select id="selectOne" resultType="CovidTestAuthorization">
        select * from covid_test_authorization
        where people_username=#{peopleUsername} and agency_username=#{agencyUsername}
        and authorization_time=#{authorizationTime}
    </select>
    
    <delete id="deleteOne">
        delete from covid_test_authorization
        where people_username=#{peopleUsername}
        and agency_username=#{agencyUsername}
        and authorization_time=#{authorizationTime}
    </delete>

    <select id="selectMapToSimpleAuthorization" resultType="SimpleAuthorization">
        select agency_name,authorization_time from agency_table a,covid_test_authorization c
        where c.people_username=#{peopleUsername} and c.agency_username=a.username
        order by authorization_time desc
    </select>

    <select id="selectResultsByPeopleUsername" resultType="CovidTestAuthorization">
        select * from covid_test_authorization where people_username=#{peopleUsername}
    </select>

</mapper>